<p id="notice"><%= notice %></p>

  <strong>Division:</strong>
  <%= @division.division_id %><br>

  <strong>Program:</strong>
  <%= @division.program %><br>

  <strong>Start date:</strong>
  <%= @division.start_date %><br>

  <strong>End date:</strong>
  <%= @division.end_date %><br>

  <strong>Cost:</strong>
  <%= @division.cost %><br>

  <strong>Status:</strong>
  <%= @division.status %><br>