<p id="notice"><%= notice %></p>

<p>
  <strong>Achievement:</strong>
  <%= @achievement.achievement %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @achievement.organizer %>
</p>

<p>
  <strong>Champ:</strong>
  <%= @achievement.champ %>
</p>

<p>
  <strong>Date:</strong>
  <%= @achievement.date %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
