<p id="notice"><%= notice %></p>

  <strong>Number:</strong>
  <%= @guest.number %><br>

  <strong>Guest:</strong>
  <%= @guest.guest_id %><br>

  <strong>Full name:</strong>
  <%= @guest.full_name %><br>

  <strong>Address:</strong>
  <%= @guest.address %><br>

  <strong>Cek in:</strong>
  <%= @guest.cek_in %><br>

  <strong>Cek out:</strong>
  <%= @guest.cek_out %><br>

  <strong>Necessary:</strong>
  <%= @guest.necessary %><br>

  <strong>Price:</strong>
  <%= @guest.price %><br>
