<p id="notice"><%= notice %></p>
<button class="btn btn-large btn-success btn-block"><i class="icon-th-list icon-white"></i> Detail Profile Pembina</button>
<table class="table table-bordered">
  <tr>
      <td><strong>Elder member</strong></td>
      <td><%= @elder_member.elder_member_id %></td>
  </tr>
      <td><strong>Name</strong></td>
      <td><%= @elder_member.name %></td>
  </tr>
      <td><strong>Place of birth</strong></td>
      <td><%= @elder_member.place_of_birth %></td>
  </tr>
      <td><strong>Birthday</strong></td>
      <td><%= @elder_member.birthday %></td>
  </tr>
      <td><strong>Ksb address</strong></td>
      <td><%= @elder_member.ksb_address %></td>
  </tr>
      <td><strong>Sub district</strong></td>
      <td><%= @elder_member.sub_district %></td>
  </tr>
      <td><strong>Jogja address</strong></td>
      <td><%= @elder_member.jogja_address %></td>
  </tr>
      <td><strong>Profession</strong></td>
      <td><%= @elder_member.profession %></td>
  </tr>
      <td><strong>Experience</strong></td>
      <td><%= @elder_member.experience %></td>
  </tr>

</table>
